html {background-color: gray}
body {
    background-color: white;
    font-family: cursive;
    font-size: 12px;
}
  
X3D, x3d {
    position:relative;    /* in order to be able to position stat-div within X3D */
    float:left;           /* float the element so it has the same size like the canvas */
    cursor:pointer;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
}

object {
    margin: 0;
    padding: 0;
    border: none;
    z-index: 0;
    width:100%;
    height:100%;
    float:left;
}

/* self-clearing floats */
.group:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
<<<<<<< HEAD
}
=======
  }
>>>>>>> b1f0c2d (Updated to last build)

.case { 
    clear: both; 
    border-top: 0px; 
    color: #fff; 
    width: 100%;
<<<<<<< HEAD
    margin: auto;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}
.slider {
    -webkit-appearance: none;  
    -moz-appearance: none;  
    appearance: none;
    width: 90%; /* Full-width */
    position: absolute;
    right: 5px;
    height: 25px; /* Specified height */
    background: #797979; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; 
    -moz-transition: .2s; 
    -o-transition: .2s; 
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
=======
    height: 80%;
    margin: auto;
}

.button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #5f5f5f;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #424242;
}
.button:hover {background-color: #474747}
.button:active {
  background-color: #474747;
  box-shadow: 0 5px #252525;
  transform: translateY(4px);
}
>>>>>>> b1f0c2d (Updated to last build)
